:root, 
body {
    margin: 0;
    height: 100vh;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 4;
    overflow: hidden;
}

.hero > img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}


.logo-area, 
.credit {
    position: absolute;
}

.logo-area {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    top: 15%;
    width: 100%;
    padding: 8px;
    box-shadow: inset -30px 0 100px 0 rgba(76, 99, 56, 0.855);
}

.logo-area h2 {
    margin: 0;
    font-size: 40px;
    color: white;
}

.logo-area .logo {
    height: 6rem;
    min-width: auto;
    object-fit: contain;
}

.credit {
    bottom: 0%;
    justify-self: flex-end;
    color: white;
    font-size: 15px;
}

/* box shadow and gradient properties soften edges between left and right background images */

.right-side {
    flex: 6;
    background-image: linear-gradient(to right, rgba(76, 99, 56, 0.855), rgba(5, 95, 42, 0.253));
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, .5);
    overflow: scroll;
}

.form-header {
    padding: 64px 36px 18px;
    font-size: small;
    font-weight: 500;
    font-family: 'ralewaymedium';
}

#action-text {
    font-family: 'Geneva';
    font-size: 22px;
}

.form-section {
    background-color: rgba(236, 245, 240, 0.795);
    margin: 25px;
    padding: 12px 36px;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(76, 99, 56, 0.855);
}

#signup-form {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#signup-form > div {
    width: 40%;
    min-width: 150px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#signup-form input {
    width: 100%;
    border: 1px solid rgba(202, 207, 205, 0.995);
    border-radius: 8px;
    font-size: 16px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: rgba(255, 255, 255, 0.952);
    margin-top: 2px;
}

.button-area {
    padding: 24px 36px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-family: inherit;
    padding: 8px 36px;
    background-color: rgba(255, 255, 255, 0.952);
    font-weight: bold;
    margin: 5px;
}

.button-area a {
    color:rgb(5, 34, 17);
    font-weight: bold;
}

@media screen and (max-width: 940px) {
    body {
            flex-direction: column;
            height: auto;
    }

    #signup-form {
        width: 100%;
    }

    #signup-form > div {
        min-width: 250px;
        width: 40%;
    }

    #signup-form input {
        width: 100%;
    }
}
